{% extends 'common.html' %}

{% block body %}

   <div class="container ">
   	<div class="row client_nav">
   	             <div class="col-sm-8">            
						     <ul class="nav nav-pills">
								  <li class="nav-item">
								    <a class="nav-link" href='{% url "client"%}'>My Appointment</a>
								  </li>
								  <li class="nav-item">
								    <a class="nav-link" href='{% url "quick_appointment"%}'>Get Appointment</a>
								  </li>

							  </ul>	                             
                  </div>

                 <div class="col-sm-4">
					     <ul class="nav nav-pills">
							  <li class="nav-item">
							    <p>Wecome </p> 
							  </li>
							  <li class="nav-item">
							    <a class="nav-link" href="#">{{user_name}}</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link" href='{% url "logout"%}'>Log Out</a>
							  </li>
						  </ul>	     
	       		 </div>
	  </div>
    </div>

    {% block common_client %}
    
    {% endblock common_client %}

{% endblock %}




